---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wizalería">
	<main class="w-full">
		<section class="mt-24 w-full max-w-screen-xl mx-auto overflow-hidden" id="fullstack">
			<p class="text-white text-center text-4xl">Proyectos Full-Stack</p>

			<div class="mt-8 px-8 py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
				<a href="https://innocompsv.netlify.app/" target="_blank" class=" hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/innocomp.png)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Ecommerce - InnoComp</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado con React y tailwind en el FrontEnd, Express para el BackEnd y como base de datos MongoDB</p>
						</div>
					</div>
				</a>

				<a href="https://appsalon-mevn.netlify.app/" target="_blank" class=" hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-left-top aspect-[4/3]" style="background-image: url(/appsalon-mevn.png)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">App Registro Citas - AppSalon</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado con Vue, Pinia y Vue Router para el FrontEnd, además de Express, Bcryt y JWT para el BackEnd y como base de datos MongoDB</p>
						</div>
					</div>
				</a>

				<a href="https://bienes-raices-vue.netlify.app/" target="_blank" class=" hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-right-top aspect-[4/3]" style="background-image: url(/pos-vue.png)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Ecommerce - POS Vue</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado con Vue, Pinia, Vue Router y Tailwind para el FrontEnd además de Firebase para el BackEnd</p>
						</div>
					</div>
				</a>

				<a href="https://bienes-raices-vue.netlify.app/" target="_blank" class=" hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/bienesraices-vue.png)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Portal Inmobiliario - Binesraices</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado con Vue y Vuetify para el FrontEnd ademas de Firebase para el BackEnd</p>
						</div>
					</div>
				</a>
			</div>
		</section>

		<section class="mt-24 w-full max-w-screen-xl mx-auto overflow-hidden" id="frontend">
			<p class="text-white text-center text-4xl">Proyectos FrontEnd</p>

			<div class="mt-8 px-8 py-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
				<a href="https://geriatriccare.netlify.app/" target="_blank" class=" hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/geriatriccare.png)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Landing Page - Geriatric Care</h3>
							<p class="text-center mt-2 text-balance">Proyecto completamente desarrollado en Astro y Tailwind</p>
						</div>
					</div>
				</a>
				
				<a href="https://silver-sable-cfc43b.netlify.app/" target="_blank" class=" hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/REFestival.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Rock & EDM</h3>
							<p class="text-center mt-2 text-balance">Proyecto completamente desarrollado con HTML, CSS y JavaScript y metodología BEM</p>
						</div>
					</div>
				</a>

				<a href="https://fancy-chebakia-ad8803.netlify.app/index.html" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/BlogCafe.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">BlogDeCafé</h3>
							<p class="text-center mt-2 text-balance">Proyecto completamente desarrollado con HTML, CSS y JavaScript</p>
						</div>
					</div>
				</a>

				<a href="https://subtle-churros-938a6c.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/TravelBNB.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">TravelBNB</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado enteramente en SASS y con la metodología de BEM</p>
						</div>
					</div>
				</a>

				<a href="https://marvelous-sundae-69b03b.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/AppComida.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">App Comida</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado enteramente en SASS y con la metodología de BEM</p>
						</div>
					</div>
				</a>

				<a href="https://animated-raindrop-118ace.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/Nucleus.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Nucleus</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado enteramente con la metodología BEM</p>
						</div>
					</div>
				</a>

				<a href="https://papaya-churros-cedba7.netlify.app" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/Cafeteria.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Cafetería</h3>
							<p class="text-center mt-2 text-balance">Proyecto desarrollado enteramente con SASS</p>
						</div>
					</div>
				</a>

				<a href="https://voluble-halva-044ea3.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/PodcastFM.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">PodcastFM</h3>
							<p class="text-center mt-2 text-balance">Proyecto completamente desarrollado con SASS</p>
						</div>
					</div>
				</a>

				<a href="https://timely-gingersnap-e9ac4e.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/ArquitecturaBosque.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">ArquitecturaBosque</h3>
							<p class="text-center mt-2 text-balance">Proyecto de completamente desarrollado con HTML y CSS, practicando Flexbox y Grid</p>
						</div>
					</div>
				</a>

				<a href="ttps://stupendous-cranachan-e2247d.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/TechPRO.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">TechPRO</h3>
							<p class="text-center mt-2 text-balance">Proyecto de completamente desarrollado con HTML y CSS, practicando Flexbox y Grid</p>
						</div>
					</div>
				</a>

				<a href="https://mellow-alpaca-55e42b.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/FrontEndStore.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">FrontEndStore</h3>
							<p class="text-center mt-2 text-balance">Proyecto de completamente desarrollado con HTML y CSS, practicando Flexbox y Grid</p>
						</div>
					</div>
				</a>

				<a href="https://celebrated-kangaroo-0e2080.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/TiendaMuebles.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Ecommerce</h3>
							<p class="text-center mt-2 text-balance">Proyecto completamente desarrollado con HTML y CSS</p>
						</div>
					</div>
				</a>

				<a href="https://fabulous-blini-e4e86b.netlify.app/" target="_blank" class="hover:scale-110 hover:-rotate-3 hover:z-10 transition-all border-2 border-gray-600 rounded-lg overflow-hidden bg-[#353535]">
					<div class="flex flex-col justify-between h-full">
						<div class="bg-cover bg-top aspect-[4/3]" style="background-image: url(/Freelancer.jpg)"></div>

						<div class="p-4 text-white flex flex-col justify-around flex-1">
							<h3 class=" text-2xl text-center font-bold">Freelancer</h3>
							<p class="text-center mt-2 text-balance">Proyecto completamente desarrollado con HTML y CSS</p>
						</div>
					</div>
				</a>
			</div>
		</section>
	</main>
</Layout>

